<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="welcome">
            <h1>歡迎光臨 請註冊/登入系統</h1>
        </div>
        <div class="signin">
            <p>註冊帳號</p>
                <form action="/signup" method="POST" class="signin_bar">
                    <div class="name">
                        <p>姓名</p>
                        <input name="name" class="log_in" type="text" required>
                    </div>
                    <div class="account">
                        <p>帳號</p>
                        <input name="username" class="log_in" type="text" required>
                    </div>
                    <div class=pw>
                        <p>密碼</p>
                        <input name="password" class="log_in" type="password" required>
                    </div>
                    <button class="signin_btn">註冊</button>
                </form>
            </div>
    <hr style="width: 75%;">
        <div class="signin">
            <p>登入系統</p>
                <form action="/signin" method="POST" class="signin_bar">
                    <div class="account">
                        <p>帳號</p><input name="account" class="log_in" type="text">
                    </div>
                    <div class=pw>
                        <p>密碼</p><input name="password" class="log_in" type="password">
                    </div>
                    <button class="signin_btn">登入</button>
                </form>
        </div>
    </section>
</body>
</html>