body,ul,li,p
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    font-family: Arial;
}
.burg_img{
    display: block;
}
img{

    object-fit:cover;
    height: 100%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 300px;
    background-color: aquamarine;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 7px;
    align-items: center;
    flex-wrap: wrap;
}
#burger{
    display: none;
}
.menu{
    display: flex;
}
.menu a{
    margin-left: 50px;
    display: block;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    justify-content: center;
}
.box{
    object-fit:cover;
    width: 285px;
    margin: 5px;
    margin-bottom: 30px;
}
.flex div{
    display: flex;
    flex-direction: column;
}
.pic_text{
    text-align: center;

    padding: 10px;
    background-color: antiquewhite;
}
#more{
    padding: 5px;
    margin: 10px;
}
@media (min-width:600px) and (max-width:1200px){/*600~1200px*/
    .flex{max-width: 90%;}
    .box{width: 45%;}
}
@media screen and (max-width:600px) {/*less than 600*/
    .flex{max-width: 90%;}
    .box{width: 100%;}
    .title{font-size: 32px;}
    .hide{display: none;}
    #burger{display: block;}
    #menu_outer{width:100% ;margin-top: 5px;}
    .menu{justify-content: space-around;}
    .menu a{text-align: center;margin-left: 0px;}
}
